/* src/components/FloatingMenu.css */
.floating-button {
    position: fixed;
    top: 20px;  /* Ajustez cette valeur si nécessaire */
    right: 20px;  /* Ajustez cette valeur si nécessaire */
    background-color: #18e06e;  /* Couleur verte pour le thème */
    color: white;
    z-index: 1000;
}
